header{
    display: flex;
    // width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    background-color: #000000;
    @media(max-width:700px){}
    i{
    color: aliceblue;
    }
    a{
        font-size: 20px;
        text-decoration: none;
        color: white;

    }
    i{
        font-size: 25px;
    }
    .header1{
        display: flex;
        width: 90vw;
        justify-content: space-between;
    }
    .link{
        display: flex;
        gap: 30px;
    }
    .header2{
        display: flex;
        width: 90vw;
        justify-content: space-between;
        margin-top: 20px;
        
    }







}