.section3{
    position: relative;
    display: flex;
    margin-top: 40px;
    @media(max-width:700px){

    }

    .custom-shape-divider-top-1680000004 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1680000004 svg {
        position: relative;
        display: block;
        width: calc(131% + 1.3px);
        height: 73px;
    }
    
    .custom-shape-divider-top-1680000004 .shape-fill {
        fill: #FFFFFF;
    }
    // background-color: aqua;
    .makeup-card{
        display: flex;
        flex-direction: column;
        
        gap: 10px;
        justify-content: center;
        align-items: center;
        color: white;
       background: url(https://media.istockphoto.com/id/1331637318/photo/portrait-of-young-afro-woman-with-bright-make-up.jpg?b=1&s=170667a&w=0&k=20&c=OYpOKgnC8xVk43A3irW0VkVHnYrmwcd5QQlaIZJDyig=);
       background-size: cover;
       height: 100vh;
       padding: 50px;
        width: 100%;
        @media(max-width:700px){
            background-size: cover;
        }
    }
    // .makeup-card2{
    //     img{
    //         width: 100%;
    //     }
    //     border-radius: 10px;
    //     width: 50%;
    //     height: 50%;
    // }
}