*{padding: 0;margin: 0;box-sizing: border-box;
}
body{
    font-family: 'League Spartan', sans-serif;
    // font-size: 15px;
    // font-weight: lighter;
    // background-color: black;
    padding: 50px;
    @media(max-width:700px){
        padding: 0px;
    }

}